build/
out/
cmake-build-*/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/

*.xcodeproj
*.xcworkspace
xcuserdata/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

*.exe
*.app
*.o
*.obj
*.dylib
*.dll
*.lib
*.a

.vscode/
.idea/
*.swp
*.swo
*~